<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgWl-J8qipIruAPJiZz5gN8Ixmc7dfrRw</string>
	<key>GCM_SENDER_ID</key>
	<string>547490552512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weedeyes</string>
	<key>PROJECT_ID</key>
	<string>weedeyes-3d4ca</string>
	<key>STORAGE_BUCKET</key>
	<string>weedeyes-3d4ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547490552512:ios:c7a93d67a1bef3f54bab25</string>
	<key>DATABASE_URL</key>
	<string>https://weedeyes-3d4ca-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>